config basic 'basic'
    option enabled '0'
    option net_check_interval '5'
    option update_time '4'     # 每天几点更新规则
    option update_minute '0'   # 几分钟更新规则
    option keep_log_days '7'   # 日志保留天数
    option rules_priority '1'  # 规则优先级

config custom 'custom'
    list whitelist 'example.com'
    list whitelist 'api.example.org'
    list blacklist 'ad.example.net'

# 预设规则源示例
config rule_source
    option name 'AdGuard DNS'
    option url 'https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt'
    option type 'dnsmasq'
    option enabled '0'

config rule_source
    option name 'StevenBlack Hosts'
    option url 'https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts'
    option type 'hosts'
    option enabled '0'